.header {
	font-family: var(--montserrat-family);
	margin: 55px 0 85px;
}

.over-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-italic {
	font-weight: 100;
	font-style: italic;
}

.nav {
	margin: 0 10px;
}

.list {
	display: flex;
	gap: 0 30px;
}

.list .item:hover,
.address:hover {
	transition: color 0.3s;
	color: #d15673;
}

.main {
	margin-bottom: 90px;
}

.choose {
	text-align: center;
	margin-bottom: 54px;
}

.title {
	font-family: var(--pomidorko-family);
	font-size: 80px;
	margin-bottom: 30px;
}

.img-wrap {
	position: relative;
	overflow: hidden;
	margin-bottom: 54px;
	border-radius: 50px;
	padding-bottom: 33.6932%;
}

.img-wrap img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button {
	font-family: var(--montserrat-family);
	font-weight: 500;
	font-size: 40px;
	border-radius: 24px;
	padding: 20.5px 106px;
	background: #d15673;
	transition: 0.3s;
}

.button:hover {
	color: #d15673;
	background: var(--main-color);
}

.all-to-know {
	text-align: center;
}

.subtitle {
	font-family: var(--pomidorko-family);
	font-size: 45px;
	margin-bottom: 25px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 40px 122px;
}

.col {
	border-radius: 30px;
	flex: 1 0 calc(50% - 61px);
	background: #54727b;
	padding: 50px 140px 45px;
}

.col:nth-of-type(2) .desc {
	max-width: 322px;
	margin: 0 auto;
}

.col:nth-of-type(3) .desc {
	max-width: 404px;
	margin: 0 auto;
}

.svg-wrap {
	width: 85px;
	height: 85px;
	margin: 0 auto;
	border-radius: 15px;
	margin-bottom: 30px;
	padding: 15px;
	background-color: #d15673;
}

.svg-wrap svg {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #fffbfb;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.subsubtitle {
	font-size: 40px;
	margin-bottom: 25px;
}

.desc {
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 30px;
	line-height: 1.33333;
}

.footer {
	font-family: var(--montserrat-family);
	background-color: #54727b;
	padding: 68px 0;
}

.rules {
	font-family: var(--poppins-family);
	font-size: 16px;
	line-height: 1.25;
	text-align: center;
	letter-spacing: normal;
	max-width: 610px;
	margin: 0 auto;
	margin: 0 10px;
}

.footer-list {
	display: flex;
	align-items: center;
	gap: 0 24px;
}

.footer-list li {
	width: 38px;
	height: 38px;
}

.footer-list li:hover a svg {
	transition: 0.3s;
	fill: #d15673;
	transform: scale(1.1);
}

.footer-list li a svg {
	width: 100%;
	height: 100%;
	fill: var(--main-color);
}

@media (max-width: 1390px) {
	.list {
		gap: 0 15px;
	}
}

@media (max-width: 1315px) {
	.logo {
		margin-right: 10px;
	}
	.nav {
		display: none;
	}
}
@media (max-width: 820px) {
	.footer-wrapper {
		flex-direction: column;
		gap: 10px 0;
	}

	.footer-logo {
		order: 1;
	}

	.rules {
		order: 3;
	}

	.footer-address {
		order: 2;
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 46px;
	}

	.button {
		font-size: 28px;
		border-radius: 10px;
		padding: 10.5px 60px;
	}
}

@media (max-width: 590px) {
	.col {
		flex: 100%;
		gap: 20px 0;
		padding: 30px 50px 30px;
	}
	.subtitle {
		font-size: 36px;
	}

	.subsubtitle {
		font-size: 28px;
	}

	.img-wrap {
		padding-bottom: 70%;
	}

	.desc {
		font-size: 22px;
	}
}

@media (max-width: 475px) {
	.header {
		margin: 35px 0 50px;
	}

	.logo {
		margin-right: 0px;
	}

	.img-wrap {
		border-radius: 20px;
	}

	.title {
		font-size: 32px;
	}

	.button {
		font-size: 25px;
		padding: 10.5px 40px;
	}

	.header-wrapper {
		justify-content: center;
		flex-direction: column;
		gap: 15px 0;
	}

	.desc {
		font-size: 18px;
	}

	.footer {
		padding: 30px 0;
	}

	.rules {
		font-size: 16px;
	}
}
